<html>
  <head>
    <title>🌏 Terraformer</title>
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <main>

      <!-- Environment, camera and LED matrix-->
      <div class="wrapper s3">
        <v-environment :lang="lang" :sensehat="sensehat" :sds011="sds011"></v-environment>
        <v-camera-view :lang="lang"></v-camera-view>
        <v-ledmatrix :lang="lang" :sensehat="sensehat"></v-ledmatrix>
      </div>

      <!-- Graphs -->
      <v-graphs :lang="lang" :records="records" :graphs="['temperature', 'humidity', 'pressure']" v-if="sensehat">{{ lang.environment_over_24_hours }}</v-graphs>
      <v-graphs :lang="lang" :records="records" :graphs="['pm25', 'pm10']" v-if="sds011">{{ lang.air_quality }}</v-graphs>

      <!-- Directional sensors -->
      <div class="wrapper s2">
        <v-directional-sensor :lang="lang" :sensehat="sensehat" sensor="gyroscope"></v-directional-sensor>
        <v-directional-sensor :lang="lang" :sensehat="sensehat" sensor="accelerometer"></v-directional-sensor>
      </div>

    </main>

    <script src="/js/vue.min.js"></script>
    <script src="/js/Chart.bundle.min.js"></script>
    <script src="/js/axios.min.js"></script>
    <script src="/js/socket.io.js"></script>
    <script src="/js/httpVueLoader.js"></script>
    <script src="/js/terraformer.js"></script>

  </body>
</html>